# ===================================
# C++ 专用过滤网
# ===================================

# 1. 编译产生的二进制垃圾 (这些必须过滤)
*.exe
*.dll
*.obj
*.o
*.ilk
*.pdb
*.tlog
*.idb

# 2. 中间文件夹
# 注意：如果你有一个项目叫 "Debug"，请把它改名为 "Debug_Code"！
# 否则下面这两行会把你的代码也屏蔽掉！
Debug/
Release/
x64/
x86/

# 3. 编辑器配置
.vs/
.vscode/
*.suo
*.user